.main-content {
    margin-top: 60px;
    margin-left: 100px;
}
.Image{
    border-radius: 100px;
}
.forward{
    margin-left: 50px;
}
h4{
    color: #f86a47;
}
table{
    margin-top: 20px;
}
.header{
    margin-top: 50px;
    color: #f86a47;
}
.centered{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right{
    color: white;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.weather-title{
    position: absolute;
    left: 40%;
}
.below{
    margin-top: 60px;
}
.card-block{
    padding: 10px 15px;
}

.list-agro{
    text-align: center;
    list-style: none;
}
.agro{
    margin: auto;
    display: block;
    max-width: 161px;
    margin-bottom: 10px;
}
#product{
    margin-top: 100px;
}
#argo{
    margin-top: 100px;
}
.weathermap{
    align-content: center;
    margin-top: auto;
    position: absolute;
    left: 40%;
    
}
#content{
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
#maps img{
    margin-top: 100px;
    width: 100%;
}
.footer-website{
    margin-top: 100px;
    background-color: rgb(65, 75, 85);
}
#argo img{
    width: 100%;
}
@media (min-width: 768px){
    .left{
        margin-left: 130px;
        text-align: left;
        
    }
    .title-agro{
        text-align: center;
        margin-top: 30px;
    }
}
.card{
    min-height: 400px;
}
