.main-content {
    margin-top: 60px;
    margin-left: 100px;
}
p{
    margin-top: 100px;
}
.card-title{
    margin-left: 30px;
}
.Image{
    border-radius: 100px;
}
.forward{
    margin-left: 50px;
}
h4{
    color: #f86a47;
}
table{
    margin-top: 20px;
}
.header{
    margin-top: 50px;
    color: #f86a47;
}
.centered{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right{
    color: white;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.weather-title{
    position: absolute;
    left: 40%;
}
.below{
    margin-top: 60px;
}
.card-title{
    margin-top: 10px;
}
.title-agro{
    position: absolute;
    left: 30%;
    margin-top: 30px;
}
.left{
    margin-left: 130px;
    text-align: left;
}
.list-agro{
    position: absolute;
    left: 30%;
}
.agro{
    margin-top: 125px;
    position: absolute;
    left: 40%;
}
#product{
    margin-top: 100px;
}
#argo{
    margin-top: 100px;
}
.weathermap{
    align-content: center;
    margin-top: auto;
    position: absolute;
    left: 40%;
    
}
#content{
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
#maps{
    margin-top: 100px;
    
}
.footer-website{
    margin-top: 100px;
    background-color: rgb(65, 75, 85);
}

